name: Build WF
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: maven build
      run: mvn install


Test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: maven test
      run: mvn test

      name: checstyle
      run: mvn checkstyle:checkstyle      